<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994473983553-88t6n116damgmd1cl4ou900sp9sthngd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994473983553-88t6n116damgmd1cl4ou900sp9sthngd</string>
	<key>API_KEY</key>
	<string>AIzaSyB9KffASkfJJ21K67vHGfSyCOgi9TcdCgA</string>
	<key>GCM_SENDER_ID</key>
	<string>994473983553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ialexballa.car-sharing</string>
	<key>PROJECT_ID</key>
	<string>car-sharing-777</string>
	<key>STORAGE_BUCKET</key>
	<string>car-sharing-777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994473983553:ios:07f1817e9ecb4a005bd0c0</string>
</dict>
</plist>